.forgot_password {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forgot_password_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.forgot_password_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
